<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/scripts/jquery-3.6.0.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("LegoStore", "Index", "Home", null, new { @class = "navbar-brand" })


            </div>
            <ul class="nav nav-pills">
                <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Basket", "Basket", "Home")</li>
            </ul>
        </div>
        
    </div>
    <div class="container body-content">
        <a href ="site.css"></a>
        <div>
            @RenderBody()
        </div>
    </div>
   


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>